'<!DOCTYPE html>
<html>
  <head>
    <title>Criar Sala - Rocket.Q</title>
    <meta charset="UTF-08" />
    <!-- habilita caracteres da lingua portuguesa -->
    <meta http-equiv="U-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <!--  -->
    <link rel="stylesheet" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="home" class="content">
      <header>
        <img src="/images/logo.png" alt="Rocket.Q Logo" />
      </header>
      <div id="bg"></div>
      <div class="ball top"></div>
      <div class="ball bottom"></div>
      <main>
        <div class="container">
          <!-- Fonts -->
          <%- include(`parts/${page}`) %>
          <!------------->
        </div>
      </main>
    </div>
  </body>
</html>
<!--
  npm install nodemon -D

"name": "rocketq",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "node src/server.js ."
  },




  npm uninstall nodemon -D






 -->
